* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

body {
    font-family: 'SF Pro Display', sans-serif;
    font-size: 14px;
    color: #2f2a2d;
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.top {
    flex-grow: 1;
}

.container {
    margin: 0 auto;
}

.padding-site {
    padding-left: 4%;
    padding-right: 4%;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 40px;
    background-color: #fce6eb;
}

.nav {
    display: flex;
}

.nav-link {
    flex: 1;
    display: block;
    padding: 10px;
    color: #2f2a2d;
    text-decoration: none;
    text-transform: uppercase;
}

.nav-link:after {
    display: block;
    content: "";
    height: 2px;
    width: 0;
    background-color: #db7093;
    transition: 200ms;
}

.nav-link:hover {
    color: #db7093;
}

.nav-link:hover:after,
.nav-link:focus:after {
    width: 100%;
}

.logo-img {
    width: 80px;
    height: 80px;
}

.btn {
    outline: none;
}

.cart-btn {
    padding: 10px 20px;
    font-size: 14px;
    background-color: #fafafa;
    border: 1px solid transparent;
    border-radius: 5px;
    transition: all ease-in-out .4s;
    cursor: pointer;
}

.cart-btn:hover {
    color: #fafafa;
    background-color: #ffb6c1;
    border: 1px solid transparent;
}

.cart-btn, .logo {
    align-self: center;
}

.buy-btn {
    margin-top: 5px;
    padding: 10px 20px;
    font-size: 14px;
    color: #fafafa;
    background-color: #ffb6c1;
    border: 1px solid transparent;
    border-radius: 5px;
    transition: all ease-in-out .4s;
    cursor: pointer;
}

.buy-btn:hover {
    color: #2f2a2d;
    background-color: #fafafa;
    border: 1px solid #e1e0e1;
}

.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.product-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    width: 200px;
    margin-bottom: 15px;
    border: 1px solid #e1e0e1;
    border-radius: 5px 5px;
}

.desc {
    text-align: center;
    padding: 15px 0;
}

.product-item-title {
    padding: 5px;
}

.product-item-price {
    padding: 5px;
}

.footer {
    display: flex;
    align-items: center;
    height: 100px;
    padding: 0 10px;
    background-color: #e1e0e1;
}

.copyright {
    padding: 10px;
}

.dropdown {
    position: relative;
}

.dropdown-block {
    position: absolute;
    top: 45px;
    right: 0;

    list-style-type: none;
    padding: 5px;
    font-size: 13px;
    background-color: #fdfdfe;
    border: 1px solid #ddd;
    border-radius: 0.3em;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);

    /*display: none;*/
    display: block;
}

.dropdown:hover .dropdown-block {
    display: block;
}

.dropdown-block:after,
.dropdown-block:before {
    content: "";
    height: 0;
    width: 0;
    position: absolute;
    bottom: 100%;
    border: solid transparent;
}

.dropdown-block:after {
    border-bottom-color: #fff;
    border-width: 6px;
    right: -10%;
    margin-right: 50px;
}

.dropdown-block:before {
    border-bottom-color: #ddd;
    border-width: 7px;
    right: -10%;
    margin-right: 50px;
}

.cart-item {
    width: 200px;
}
